[submodule "libight"]
	path = libight
	url = https://github.com/TheTorProject/libight
[submodule "http-parser"]
	path = http-parser
	url = https://github.com/bassosimone/http-parser
[submodule "boost"]
	path = boost
	url = https://github.com/bassosimone/boost
[submodule "yaml-cpp"]
	path = yaml-cpp
	url = https://github.com/bassosimone/yaml-cpp
[submodule "Catch"]
	path = Catch
	url = https://github.com/bassosimone/Catch
